nav{
    padding-left: 40px;
    padding-top: 30px;
    /* background:  linear-gradient(217deg, rgb(165, 244, 255), rgb(85, 158, 255) 70.71%); */

}
.menu_vertical{
    display: none;
}
body{
    margin: 0px;
    
}

.hidden{
    display: none;
}

.section_index{
    display: flex;
}


.top{
    display: none;
}

.h3_logo{
    font-family: manjari;
    color: black;
    font-size: 20px;
    
}

p{
    font-family: arial;
}
section{
    margin-top: 0px; 
    padding: 20px;  
}

.actu_menu{
    display: flex;
    width: 100%;
}

/***MENU***/
.div_info_menu{
    
    border-left: 1px rgb(201, 201, 201) solid;
    margin-right: 0px;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.icons_menu{
    position: -webkit-sticky;
    position: sticky;
    top:10px;
}

.button_menu{
    border-radius: 50px;
    text-align: left;
    padding: 15px;
    width: 60px;
    height: 60px;
    border: 0px;
    color: black;
    font-size: 30px;
    font-family: manjari;
    margin: 10px;
    background-color: transparent;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    
}

.button_menu:hover{
    border-radius: 50px;
    text-align: left;
    padding: 15px;
    width: 60px;
    height: 60px;
    border: 0px;
    color: white;
    font-size: 30px;
    font-family: manjari;
    margin: 10px;
    background-color: rgb(85, 158, 255);

}


.div_input_recherche{ 
    margin-left: 15px; 
    width: 80%;
}

.input_recherche{
    border-radius: 20px;  
    height: 40px;
    width: 140px;
    border: 0px;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.input_recherche:hover{
    border-radius: 20px;  
    height: 40px;
    width: 140px;
    color: white;
    background-color: rgb(255, 85, 232);
}

/***EMOJI***/
.emoji_button{
    background-color: transparent;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: white;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    border-radius:5px ;
    cursor:pointer;
}

.contener_emoji{
    border: solid 1px rgb(192, 192, 192);
    background-color: white;
    width: 185px;
    padding: 15px;
    z-index: 10;
    padding-bottom: 10px;
    border-radius: 5px;
    position: relative;
    right: 170px;
    top: 10px;
    display: none;
    flex-wrap: wrap;
}



/***PROFIL***/
.h2_bio{
    font-family: manjari;
    font-size: 20px;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.h5_bio{
    font-family: manjari;
    font-size: 15px;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.date_inscription{
    font-size: 9px;
    text-align: center;
}

button{
    border-radius: 20px;
    padding: 10px;
    width: 160px;
    border: 0px;
    /* color: white; */
    margin: 10px;
    font-family: manjari;
    /* background-color: rgb(85, 158, 255); */
    
}

.button_profil{
    border-radius: 20px;
    cursor:pointer;
    padding: 5px;
    width: 160px;
    height: 30px;
    border: 0px;
    color: white;
    text-align: center;
    margin: 10px;
    font-family: manjari;
    background-color: rgb(85, 158, 255);  
}

.div_followers_profil{
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    width: 50px;
    height: 23px;
    border: 0px;
    color: white;
    text-align: center;
    font-size: 12px;
    margin: 10px;
    font-family: manjari;
    font-weight: 800;
    background-color: rgb(85, 158, 255);

}
.border_section{
    background:  linear-gradient(217deg, rgb(165, 244, 255), rgb(85, 158, 255) 70.71%);
    height: 2px;
    border-radius:10px;
}
.div_buttons{
    width: max-content;
    margin: auto;
}

.br_profil{
    display: none;
}

.pseudo_profil{
    text-align: center;
    font-weight: 700;
    font-size: 13px;
}
.photo_profil{
    background-image: url('https://clinicforspecialchildren.org/wp-content/uploads/2016/08/avatar-placeholder.gif?w=640');
    background-size:cover;
    height: 120px;
    width: 120px;
    border-radius:100px ;
    z-index: 10;
    margin: auto;
    border: solid white 5px;  
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s; 
}


.div_info_profil{
    margin-right: 20px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   
}

.background_picture_info_profil{
    height:140px; 
    background-color: rgb(85, 158, 255);
    position: relative;
    bottom: 140px;
    width: 100%;
    margin: auto;
}
/***PROFIL / FOLLOWER***/
.section_profil_followers{
    border-right: 1px rgb(201, 201, 201) solid;
   
}


/***FOLLOWERS***/
.h2_followers{
    font-family: manjari;
    font-size: 20px;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    text-align: center;
}
.nom_prenom{
    font-family: Manjari;
    font-size: 20px;
    padding-top: 2px;
    padding-left: 5px;
}

.div_info_follow{
    margin-right: 20px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}



/*** NEW TWEET ***/
.form_input_tweet{
    width: 100%;
    height: 110px;
    border-bottom: solid 6px rgb(204, 204, 204);
    padding: 10px;
    border: solid 1px rgb(212, 212, 212);
}

.div_img_tweet{
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
    border-top-right-radius:20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.input_tweet{
    margin-top: 5px;
    
    height: 40px;
    width: 80%;
    font-family: manjari;
    font-size: 20px;
    border: 0px;   
}

.div_buttons_tweet{
    height: 40px;
    width: 180px;
    justify-content: space-between;
    display: flex;
    float: right;
    padding-left: 50px;
}

.button_tweeter{
    border-radius: 20px;
    padding: 2px;
    height: 30px;
    font-size: 13px;
    float: right;
    width: 60px;
    border: 0px;
    color: white;
    font-family: manjari;
    background-color: rgb(85, 158, 255);

}

.button_tweet{
    border-radius: 20px;
    padding: 3px;
    font-size: 15px;
    height: 25px;
    width: 25px;
    text-align: center;
    border: 0px;
    color: white;
    font-family: manjari;
    background-color: rgb(85, 158, 255);
}

.mini_photo_profil{
    /* background-image: url('https://clinicforspecialchildren.org/wp-content/uploads/2016/08/avatar-placeholder.gif?w=640'); */
    background-size:cover;
    height: 50px;
    width: 50px;
    border-radius:100px ;
    z-index: 10;
    margin-right: 10px;  
}



/*** ACTUALITÉ ***/

.p_accueil{
    font-family: Manjari;
    padding-left: 15px;
    font-weight: 700;
    padding-top: 5px;
    border: 1px solid rgb(202, 202, 202) ;
}

.div_fil_actu{
    padding-top:10px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    border: solid 1px rgb(212, 212, 212);
    
}


/***PALETTE***/
.palette{
    /* display: none; */
    padding-left: 30px;
    position: relative;
    bottom: 1px;
    display: none;

}


/***************MOYEN**************/
@media (max-width:990px){

    p{
        font-size: 10px;
    }

    /***PROFIL***/
    .photo_profil{
        background-image: url('https://clinicforspecialchildren.org/wp-content/uploads/2016/08/avatar-placeholder.gif?w=640');
        background-size:cover;
        height: 120px;
        margin: auto;
        width: 120px;
        border-radius:100px ;
        z-index: 10;
        border: solid white 5px;  
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s; 
    }

    

    .h2_bio{
        font-family: manjari;
        font-size: 20px;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
    }
    
    .h5_bio{
        font-family: manjari;
        font-size: 15px;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
    }





    .actu_menu{  
        display: flex;
        flex-direction: column-reverse;
    }

    /*** ACTUALITÉ ***/

    .div_fil_actu{
        position: relative;
        top:50px;
        padding-top: 20px;
        flex-direction: column-reverse;
        width: 100%;
        border: solid 1px rgb(212, 212, 212);
    }


    /***MENU***/
    .button_menu{
        border-radius: 50px;
        text-align: left;
        padding: 10px;
        width: 50px;
        height: 50px;
        border: 0px;
        color: black;
        font-size: 25px;
        font-family: manjari;
        margin: 3px;
        background-color: rgb(255, 255, 255);
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        
    }

    .button_menu:hover{
        border-radius: 50px;
        text-align: left;
        padding: 10px;
        width: 50px;
        height: 50px;
        border: 0px;
        color: white;
        font-size: 25px;
        font-family: manjari;
        margin: 3px;
        background-color: rgb(85, 158, 255);
    
    }

    .input_recherche{
        border-radius: 20px;  
        height: 40px;
        width: 100px;
        border: 0px;
        font-size: 12px;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
    }
    
    .input_recherche:hover{
        border-radius: 20px;  
        height: 40px;
        width: 100px;
        color: white;
        background-color: rgb(85, 158, 255);
    }
    .p_accueil{
        display: none;
    }
 
    .div_info_menu{
        border-left:0px ;
        
        width: 100%;
        height: 50px;;
        height: auto;
        margin-left: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;      
        position: -webkit-sticky;
        position: sticky;
        top:10px;
        
        
    }

    .icons_menu{
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        top:50px;
    }

    .form_input_tweet{
        position: relative;
        top:50px;
    }
}




/***************PETIT**************/
@media (max-width:768px){

    .top{
        display: block;
        position: -webkit-sticky;
        position: sticky;
        top:100px;
        left: 660px;
        border: solid;
        border-radius: 40px;
        z-index: 10;
        width: 40px;
        height: 40px;
        text-align: center;
        padding-top: 5px;
        color: white;
        background-color: rgb(85, 158, 255);
    }

    .fas.fa-camera{
        margin-top: 10px;
        font-size: 30px;
    }
    .div_buttons_tweet{
        height: 40px;
        width: 200px;
        float: right;
        padding-left: 50px;
    }

    .menu_vertical{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: -webkit-sticky;
        position: sticky;
        bottom:100px;
        left: 660px;
        border-radius: 40px;
        z-index: 10;
        width: 40px;
        height: 700px;
        text-align: center;
        padding-top: 5px;
        color: white;
    }
    .section_index{
        display: flex;
        flex-direction: column;
    }

    .div_info_follow{
        display: none;
    }


    /***PROFIL***/

    .chiffres_follows{
        display: flex;
        width: 80%;
        justify-content: space-between;
        margin: auto;
    }

    .div_info_profil{
        height: 700px;
        border-radius: 0px;
        /* border-bottom: solid 1px rgb(212, 212, 212); */

    }

    .section_profil_followers{
        border: 0px;
        border-bottom: 0px;
    }

    .br_profil{
        display: block;
    }

    .bio{
        font-size: 20px;
    }

    .h2_bio{
        font-size: 40px;
    }

    .p_chiffres{
        font-size: 18px;
    }
    .div_fil_actu{
        width: 100%;
        border: solid 1px rgb(212, 212, 212);
    }


    .photo_profil{
        background-image: url('https://clinicforspecialchildren.org/wp-content/uploads/2016/08/avatar-placeholder.gif?w=640');
        background-size:cover;
        height: 240px;
        width: 240px;
        border-radius:200px ;
        z-index: 10;
        margin: auto;
        border: solid white 5px;  
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s; 
    }



    /***MENU***/
    .div_info_menu{
        position: relative;
        border-left:0px ;
        top:0px;
        width: 100%;
        height: 50px;;
        height: auto;
        margin-left: 0px;
        display: flex;
        flex-wrap: nowrap;
        border:solid;
        display: none;
        
    }


    .button_menu{
        border-radius: 50px;
        text-align: center;
        padding: 5px;
        width: auto;
        margin-bottom: 10px;
        height: 30px;
        border: 0px;
        color: black;
        font-size: 20px;
        font-family: manjari;
        background-color: rgb(255, 255, 255);
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;    
    }

    .button_menu:hover{
        border-radius: 50px;
        text-align: center;
        padding: 5px;
        margin-bottom: 10px;
        width: auto;
        height: 30px;
        border: 0px;
        color: white;
        font-size: 20px;
        font-family: manjari;
        background-color: rgb(85, 158, 255);
    
    }

    .button_tweeter{
        border-radius: 20px;
        padding: 10px;
        margin-top: 10px;
        height: 40px;
        font-size: 18px;
        float: right;
        width: 90px;
        border: 0px;
        color: white;
        font-family: manjari;
        background-color: rgb(85, 158, 255);
    
    }
    
    .form_input_tweet{
        height: 180px;
    }
    .input_tweet{
        margin-top: 5px;
        
        height: 100px;
        width: 100%;
        font-family: manjari;
        font-size: 20px;
        border: 0px;   
    }

    .icons_menu{
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        top:0px;
    }

    .mini_photo_profil{
        display: none;
    }

    .date_inscription{
        font-size:15px;
        margin-bottom: 50px;
    }

    .pseudo_profil{
        font-size:20px;
    }

    .div_fil_actu{
        padding-top:10px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        border: solid 0px rgb(212, 212, 212);
        
    }
}